*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f2027;
color:white;
display:flex;
justify-content:center;
align-items:flex-start;
min-height:100vh;
padding:20px 0;
overflow-y:auto;
}

.page{
display:none;
width:95%;
max-width:900px;
background:#1f3b46;
padding:25px;
border-radius:12px;
box-shadow:0 0 20px rgba(0,0,0,0.3);
}

input,button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:8px;
border:none;
font-size:16px;
}

button{
background:#ff512f;
color:white;
font-weight:bold;
cursor:pointer;
}

.back-btn{
background:#555;
}

.error{
color:red;
}